<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" />
<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
<title>DJ Club template</title>
  <%= yield(:head) %>
</head>

<body>
<div id="container">
	<div id="header">
		<ul><%= yield(:menu) %></ul>
	</div>
	<div id="content"><%= yield %></div>
	
</div>
</body>
</html>