#sidebar
  %ul
    %li
      %h3
        %a.house{ :href => "#" }
          Dashboard
      %ul
        %li
          %a.report{ :href => "#" }
            Sales Report
        %li
          %a.report_seo{ :href => "#" }
            SEO Report
        %li
          %a.search{ :href => "#" }
            Search
    %li
      %h3
        %a.folder_table{ :href => "#" }
          Orders
      %ul
        %li
          %a.addorder{ :href => "#" }
            New order
        %li
          %a.shipping{ :href => "#" }
            Shipments
        %li
          %a.invoices{ :href => "#" }
            Invoices
    %li
      %h3
        %a.manage{ :href => "#" }
          Manage
      %ul
        %li
          %a.manage_page{ :href => "#" }
            Pages
        %li
          %a.cart{ :href => "#" }
            Products
        %li
          %a.folder{ :href => "#" }
            Product categories
        %li
          %a.promotions{ :href => "#" }
            Promotions
    %li
      %h3
        %a.user{ :href => "#" }
          Users
      %ul
        %li
          %a.useradd{ :href => "#" }
            Add user
        %li
          %a.group{ :href => "#" }
            User groups
        %li
          %a.search{ :href => "#" }
            Find user
        %li
          %a.online{ :href => "#" }
            Users online
